<div class="">
    <section class="form-contact">
        <div class="form-contact_info">
            <h2>Contactanos!</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate quisquam placeat sed libero rem error voluptatem illum dolorum eos obcaecati.</p>
            <a href="#"><i class="fa fa-phone"></i>lorem</a>
            <a href=""><i class="fa fa-envelope"></i>contacto@magicamente.com.ar</a>
            <a href="#"><i class="fa fa-map-marked"></i>La Plata, Buenos Aires</a>
        </div>

        <form class="form-contact_wrapper">
            <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" class="camp">
            <input type="email" name="email" id="email" placeholder="Ingresa tu correo" class="camp">
            <textarea name="message" placeholder="Ingresa tu mensaje"></textarea>
            <input type="submit" name="enviar" value="Enviar" class="button-submit">
        </form>
    </section>
    <p></p>
    <script src="js/contact-validation.js"></script>
</body>
</div>
