<div class="notices">
    <p>Con tarjeta de debito o transferencia bancaria tienes un 5% de descuento en cualquier compra</p>
</div>
<div class="slider-container">
    <div class="slider-container__slider">
        <div class="slider-container__section">
            <img src="/css/img/slider-img/slider-img-1.png" alt="" class="slider-container__img">
        </div>
    </div>
</div>
</div>

<section class="cards-brand-section">
    <header class="cards-brand-section__header">
        <h1>Marcas que confian en nosotros</h1>
    </header>

    <div class="cards-brand-section__container">
        <div class="cards-brand">
            <article class="cards-brand__article">
                <div class="cards-brand__logo-container">
                    <img src="/css/img/logo/Lego-logo.png" alt="">
                </div>
            </article>
        </div>
        <div class="cards-brand">
            <article class="cards-brand__article">
                <div class="cards-brand__logo-container">
                    <img src="/css/img/logo/Hasbro-logo.png" alt="">
                </div>
            </article>
        </div>
        <div class="cards-brand">
            <article class="cards-brand__article">
                <div class="cards-brand__logo-container">
                    <img src="/css/img/logo/mattel-logo.png" alt="">
                </div>
            </article>
        </div>
        <div class="cards-brand">
            <article class="cards-brand__article">
                <div class="cards-brand__logo-container">
                    <img src="/css/img/logo/FisherPrice-logo.png" alt="">
                </div>
            </article>
        </div>
    </div>
</section>
<section class="section-cards">
    <header class="section-cards__header">
        <h1>Nuestros productos destacados</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </header>
    
    <div class="cards-container">

    </div>

    <footer class="section-cards__footer">
        <p>Aprovecha nuestros descuentos con las siguientes tarjetas!</p>
        <div class="section-cards__credit-cards">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-amex"></i>
        </div>
        <p>Hasta 12 cuotas sin intereses!</p>
    </footer>
</section>