<main>
    <div class="about-container">
        <div class="about-container__text">
            <h1>¿Quiénes Somos?</h1>
            <p>Somos una empresa familiar dedicada a la venta de juguetes y artículos de librería con más de veinte mil productos, 
                tanto importados como nacionales con seis años de trayectoria y con más de cien mil ventas concretadas con éxito.</p>
        </div>
        <img src="../css/img/about/shutterstock_1195338286_800x480.jpg" alt="">
        <div class="about-container__text2">
            <h1>¿Cual es nuestro objetivo?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  odio accusamus ipsa eum harum obcaecati sit ducimus.</p>
        </div>
        <img src="../css/img/about/Blog-2-image-1-987x555.jpg" alt="">
    </div>
    
    <div class="social__media">
    </div>

</main>